<h2>Experiências profissionais</h2>

<div>
  <div class="block">
    <p class="experience__title">
      Desenvolvedor front-end - ECS Inovação - set/2022 - atual
    </p>

    <p>
      Na ECS, tive a oportunidade de participar ativamente da migração do
      projeto Pharmalink (que agora conecta mais de 50 mil farmácias e
      drogarias), atuei na migração da versão da tecnologia utilizada, passando
      de AngularJS para uma versão mais atual do framework.
    </p>
    <p>
      Fui responsável pelo front-end de algumas aplicações na indústria
      farmacêutica e da elétrica industrial, uma delas com potencial
      internacional onde implementei a internacionalização da aplicação.
      Configurei algumas pipelines no azure devops, com testes automatizados,
      cobertura de testes, build e deploy.
    </p>
    <p>
      Apresentei melhor para outros devs a questão dos pipelines do azure devops
      no modo .yaml, incentivei o uso dos testes unitários/integração para
      aqueles que não ainda tinham costume de faze-los.
    </p>
  </div>

  <div class="block">
    <p class="experience__title">
      Desenvolvedor e instrutor front-end - Facul iv2 - jun/2020 - ago/2022
    </p>
    <p>
      Atuei como desenvolvedor front-end usando Angular e também como instrutor
      para iniciantes na área do desenvolvimento web, ensinava HTML, CSS e
      JavaScript.
    </p>
  </div>

  <div class="block">
    <p class="experience__title">
      Estagiário front-end - Grupo iv2 - nov/2019 - mai/2020
    </p>
    <p>Testes, desenvolvimento front-end.</p>
  </div>
</div>
