.libutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #ffffff;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  background-color: #0a66c2;
}

.dcbutton {
  padding: 7px;
  text-align: center;
  outline: none;
  text-decoration: none;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  background-color: #03ef62;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
