section {
  padding: 1.5rem 0;
}

#hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  max-width: 38rem;
}

app-profile-info,
app-profile-links {
  width: 100%;
}

@media (max-width: 480px) {
  section {
    padding: 1.2rem 0;
  }
}
