<h2>Sobre</h2>
<div>
  <div class="block">
    <p>
      Sou um profissional com 5 anos de experiência em desenvolvimento
      front-end. Iniciei minha trajetória criando interfaces web e ao longo do
      tempo tive a oportunidade de participar de projetos mais desafiadores e de
      maior impacto.
    </p>

    <p>
      Participei da migração de uma plataforma da indústria farmacêutica – que
      atende mais de 50 mil farmácias – de AngularJS para Angular 16,
      contribuindo para a modernização do sistema e aprimoramento da experiência
      do usuário.
    </p>

    <p>
      Participei da implementação de pipelines de CI/CD com integração de testes
      unitários, o que otimizou nossos processos de desenvolvimento e elevou a
      qualidade dos nossos lançamentos.
    </p>

    <p>
      Atuei como instrutor, ministrando aulas de JavaScript, HTML e CSS para
      iniciantes, experiência que enriqueceu minha capacidade de comunicação e
      colaboração.
    </p>
  </div>

  <div class="block">
    <p>Habilidades:</p>
    <ul>
      <li>JavaScript, TypeScript</li>
      <li>Angular, Angular Material, Prime NG</li>
      <li>Tailwind CSS, Bootstrap, SCSS</li>
      <li>Git, GitHub, GitLab, Azure DevOps, Pipelines, GitHub Actions</li>
    </ul>
  </div>
</div>
