<h2>Sobre</h2>
<div class="curriculum__about">
  <p>
    Desenvolvedor web com quatro anos de experiência focado em desenvolvimento
    front-end utilizando tecnologias como Angular, RxJs, JavaScript, TypeScript,
    HTML5, CSS3, Angular Material, Tailwind CSS Prime NG, etc.
  </p>
  <br />
  <p>
    Atuei em diversos tipos de projetos, desde novos desenvolvimentos até
    refatorações e manutenções em aplicações legadas. Em todas essas
    experiências, trabalhei em equipes ágeis com foco em entrega contínua,
    utilizando o framework Scrum.
  </p>
  <br />
  <p>
    Destaque para minha participação na migração de tecnologia (Angular JS ->
    Angular 16) de uma grande plataforma da área farmacêutica, responsável por
    conectar mais de 50 mil farmácias e drogarias.
  </p>
</div>
